.homeMain{
    /* border: 5px solid red; */
    width: 100%;
    height: auto;
}
.sidebarComponent{
    /* border: 5px solid rgb(217, 255, 0); */
    width: 100%;
    height: 100vh;

}
.heroComponent{
    /* border: 5px solid blue; */
    width: 100%;
    height: auto !important;
    padding: 10px 10px;
}
.MobieHero{
    /* border: 5px solid rgb(10, 10, 10); */
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px;
    background: var(--background) !important;
}

/* Mobile Nav Style */

.mobileNavOpen{
    /* border:4px solid red; */
    width:100%;
    height: 100vh !important;
    /* overflow: hidden; */
    position: absolute;
    top: 0;
    left: 0;
    display: none !important;
}
.mobileNavClose{
    /* border:4px solid rgb(0, 255, 21); */
    display: block !important;
    z-index: 99999999999;
}