.welcomeBox {
  /* border: 2px solid red; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0px;
}
.heading {
  font-family: var(--font-primary) !important;
  font-size: 28px !important;
  font-weight: 500 !important;
  text-align: center !important;
  color: var(--text-primary) !important;
}
.logo {
  width: 65.3px;
  height: 69px;
  border-radius: 100%;
  margin-top: 15px;
  box-shadow: -4px 4px 10px 0px #00000026;
} 
